<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url "index" %}">Sentieri</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url "elencoSentieri" %}">Ricerca
            <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "elencoUtenti" %}">Utenti
            <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout
              <span class="sr-only">(current)</span>
            </a>
          </li>
        {% endif %}
    </ul>
    <span class="navbar-text white-text">
        {% if user.is_authenticated %}
            <a href="{% url "areaPersonale" idUtente=request.user.id %}"> {{ request.user.username }}</a>
        {% else %}
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </span>
  </div>
</nav>