{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
<body>
<h3>Commenti</h3>
<ul>
    <hr>
    <h6 class="text-muted"></h6>
        {% for c in commenti %}
            <!--sentiero.id, sentiero.titolo, commento.id, commento.testo, esperienza.voto-->
            <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ c.1 | title }} <span class="badge badge-secondary ml-1">{{ c.4}}</span> </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Testo: {{ c.3 }}</h6>
                        <a href="{% url "dettagliSentiero" idSentiero=c.0%}">Dettagli sentiero</a>
                    </div>
                </div>
        {% endfor %}


</ul>
{% endblock %}