{% extends "sentieriApp/blocks/template.html" %}


{% block body %}
    <!--nome_luogo   descrizione_luogo    sito    nome_tipo   descrizione_tipo   ptoGeografico_id  id_pto  latitudine   longitudine  -->
    <h1 class="mt-3"> {{ luogo.0 }}</h1>
    <p>{{ luogo.1 }}</p>
    <p>{{ luogo.13 }}</p>
    {% load easy_maps_tags %}
    <div class="embed-responsive-16by9">
        {% easy_map coordinate 300 400 %}
    </div>

    {% if luogo.2 != "" %}
     <br>
     <p><a href={{ luogo.2 }}>Sito internet</a></p>
    {% endif %}
    <br>
    <h5 class="text-muted mt-1">{{ luogo.3 }}</h5>

    <hr>
     {% if sentieri %}
        <h4>Sentieri che passano da qui:</h4>
        {% for s in sentieri %}
            <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.1 | title }} </h5>
                        <a href="{% url "dettagliSentiero" idSentiero=s.0%}">Dettagli sentiero</a>
                    </div>
                </div>
        {% endfor %}
    {% endif %}


{% endblock %}

