{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
    {% if personale %}
        <h1>{{ utente.username }}</h1>
        <h4 class="text-muted">{{ utente.email }}</h4>
        <p>{{ utente.residenza }}</p>
        <h6 class="text-muted">{{ utente.sesso }}<br>{{ utente.eta }} anni</h6>
        <br>
        {% if interessi %}
        <h6>Categorie d'interesse: <br></h6>
        <ul>
            {% for i in interessi %}
                <li>{{ i.categoria }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <hr>
        <h2>Esperienze personali</h2>
        <h5 class="text-muted">{{ nEsp }} esperienze</h5>
        <h6 class="mb-4"><a href="{% url "inserisciEsperienza" %}">Aggiungi nuova esperienza</a></h6>
        <!--'sentiero__titolo', 'sentiero__id', 'data_esperienza', 'voto', 'difficolta', 'commento__testo'-->

        {% for e,x in esperienze %}
            <div class="esperienza">
                <a class="mb-3 mr-1" data-toggle="collapse" data-target="#collapseSentieri{{ x.0.sentiero__id }}"
                        aria-expanded="false" aria-controls="collapseExample">
                <h5>{{ e }}</h5>
                </a>
            <div class="collapse " id="collapseSentieri{{ x.0.sentiero__id }}">
                {% for p in x %}
                        <p class="text-muted">{{ p.data_esperienza }}</p>
                        <p>Voto: {{ p.voto }}</p>
                        <p>Difficolta: {{ p.difficolta }}</p>
                        <div class="alert-light">{{ p.commento__testo }}</div>
                        <hr>
                {% endfor %}
            </div>
            </div>
        {% endfor %}


    {% else %}
        <h1 class="mb-3">{{ utente.1 }}</h1>
        <h6 class="text-muted">{{ utente.2 }}<br>{{ utente.3 }} anni</h6>

            {% if sentieri_effettuati %}
                <button class="btn btn-primary mb-3 mr-1" type="button" data-toggle="collapse" data-target="#collapseSentieri"
                        aria-expanded="false" aria-controls="collapseExample">
                    Percorsi effettuati: {{ sentieri_effettuati | length }}
                </button>
            {% endif %}

            {% if commenti %}
                <button class="btn btn-primary mb-3 ml-1" type="button" data-toggle="collapse" data-target="#collapseCommenti"
                        aria-expanded="false" aria-controls="collapseExample">
                    Commenti: {{ commenti | length }}
                </button>
            {% endif %}
            <div class="row">
                <div class="collapse col-md-6" id="collapseSentieri">
                  <div class="card card-body mb-3">
                    {% for s in sentieri_effettuati %}
                        <a href="{% url "dettagliSentiero" idSentiero=s.0%}">{{ s.1 }}</a>
                    {% endfor %}
                  </div>
                </div>


                <div class="collapse col-md-6" id="collapseCommenti">
                  <div class="card card-body">
                    {% for c in commenti %}
                        <div class="row mb-3">
                            <div class="col-sm-5">
                                <a href="{% url "dettagliSentiero" idSentiero=c.0 %}">{{ c.1 }}</a>
                            </div>
                            <div class="col-sm-6">
                                {{ c.3 |capfirst | truncatewords:5 }}
                            </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
            </div>

    {% endif %}
{% endblock %}
