{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
<body>
<h3>Sentieri</h3>
<ul>
<!-- utente.id, utente.username, esperienze, commenti -->
    {% if utenti %}
        {% for u in utenti %}
            <li><a href="{% url "areaPersonale" idUtente=u.0%}">{{ u.1 }}</a> Esperienze: {{ u.2 }} </li>
        {% endfor %}
    {% else %}
        <li>Non ci sono utenti con questi filtri</li>
    {% endif %}
</ul>

<hr>
<h4 class="text-muted">Filtri</h4>
<form action="{% url "elencoUtenti" %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    {{ field.label_tag }} {{ field }}
                </div>
            </div>
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary col-md-8" value="Filtra"/>
</form>

    <div class="alert-warning">
        {{ errors }}
    </div>

    <script>
        tags = document.getElementsByTagName("input")
        for (i = 0; i< tags.length; i++) {
            if (tags[i].type != "checkbox")
                tags[i].classList.add("form-control")
        }
    </script>

{% endblock %}