{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
<body>
<div class="row mt-4">
    <div class="col-md-4">
        <form action="{% url "elencoSentieri" %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary mb-3" value="Filtra"/>
        </form>
    </div>


    <div class="col-md-8 ">
        {% if sentieri %}
            {% for s in sentieri %}

                <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.1 | title }} <span class="badge badge-secondary ml-1">{{ s.19 }}</span> </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ s.14 }}</h6>
                        <p>{{ s.3 | truncatewords:15 }}</p>
                        <a href="{% url "dettagliSentiero" idSentiero=s.0%}">Scopri</a>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            Non ci sono sentieri con questi filtri!
        {% endif %}
        <nav class="mt-3">
            <ul class="pagination">
                {% if sentieri.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; prima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ sentieri.previous_page_number }}">precedente</a></li>
                {% endif %}

                <li class="page-item">
                    <a class="page-link">Pagina {{ sentieri.number }} di {{ sentieri.paginator.num_pages }}.</a>
                </li>

                {% if sentieri.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ sentieri.next_page_number }}">successiva</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ sentieri.paginator.num_pages }}">ultima &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>


</div>

<div class="mb-4"></div>

    <!--div class="alert-warning">
        {{ errors }}
    </div>
    <div class="mb-4"></div-->

    <script>
        tags = document.getElementsByTagName("input")
        for (i = 0; i< tags.length; i++) {
            if (tags[i].type != "checkbox")
                tags[i].classList.add("form-control")
        }

        tags = document.getElementsByTagName("select")
        for (i = 0; i< tags.length; i++) {
                tags[i].classList.add("form-control")
        }
    </script>
{% endblock %}