{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "inserisciEsperienza" %}" method="post">

        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
            <input type="submit" class="btn btn-primary" value="Crea"/>
    </form>
{% endblock %}