{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
        <body>
<div class="row">
    <div class="col-md-4">
        <form action="{% url "inserisciEsperienza" %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary col-md-8" value="Crea"/>
        </form>
    </div>

</div>

<div class="mb-4"></div>

    <!--div class="alert-warning">
        {{ errors }}
    </div>
    <div class="mb-4"></div-->

    <script>
        tags = document.getElementsByTagName("input")
        for (i = 0; i< tags.length; i++) {
            if (tags[i].type != "checkbox")
                tags[i].classList.add("form-control")
        }

        tags = document.getElementsByTagName("select")
        for (i = 0; i< tags.length; i++) {
                tags[i].classList.add("form-control")
        }
    </script>
{% endblock %}