{% extends "sentieriApp/blocks/template.html" %}

{% block body %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "inserisciEsperienza" %}" method="post">

        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
            <input type="submit" class="btn btn-primary" value="Crea"/>
    </form>

    <script>
        tags = document.getElementsByTagName("input")
        for (i = 0; i< tags.length; i++) {
            if (tags[i].type != "checkbox")
                tags[i].classList.add("form-control")
        }

        tags = document.getElementsByTagName("select")

                tags[0].classList.add("form-control")


        tags = document.getElementsByTagName("textarea")
        for (i = 0; i< tags.length; i++) {
                tags[i].classList.add("form-control")
        }
    </script>
{% endblock %}