{% extends "sentieriApp/blocks/template.html" %}
{% load easy_maps_tags %}

{% block body %}
    <h1>{{ punto.nome }}</h1>
    <span>{{ punto.posizione.latitude }}</span>
    <span>{{ punto.posizione.longitude }}</span>
    <p>{{ punto.descrizione }}</p>
    <br>

    {% load easy_maps_tags %}
    {% easy_map punto.nome  300 400 %}
    <br>
    <hr>
    {% if sentieri %}
        <h4>Sentieri che partono da qui:</h4>
        <ul>
        {% for s in sentieri %}
             <div class="card mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ s.titolo | title }} </h5>
                        <a href="{% url "dettagliSentiero" idSentiero=s.id%}">Dettagli sentiero</a>
                    </div>
                </div>
        {% endfor %}
        </ul>
    {% endif %}


{% endblock %}